@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --text-h1: 24px;
  --text-h2: 22px;
  --text-h3: 20px;
  --text-h4: 18px;
  --text-headline: 18px;
  --text-body-large: 16px;
  --text-body: 14px;
  --text-footnote: 13px;
  --text-caption: 12px;
  --text-small: 10px;
  
  --color-neutral-050: #fff;
  --color-neutral-100: #e5e5e5;
  --color-neutral-300: #b2b2b2;
  --color-neutral-500: #999;
  --color-neutral-700: #666;
  --color-neutral-900: #333;
  --color-neutral-1000: #000;

  --color-fresh-green-050: #edffad;
  --color-fresh-green-100: #dfff69;
  --color-fresh-green-300: #c9f42f;
  --color-fresh-green-500: #aad900;
  --color-fresh-green-700: #9ac300;
  --color-fresh-green-900: #7fa200;
  --color-fresh-green-1000: #658100;

  --color-deep-green-050: #f4f6f2;
  --color-deep-green-100: #ebede6;
  --color-deep-green-300: #c1c9b3;
  --color-deep-green-500: #96a47f;
  --color-deep-green-700: #6d814d;
  --color-deep-green-900: #445d1a;
  --color-deep-green-1000: #2e4a00;

  --color-khaki-green-050: #f7f6f2;
  --color-khaki-green-100: #efeee6;
  --color-khaki-green-300: #cfccb4;
  --color-khaki-green-500: #aea980;
  --color-khaki-green-700: #8f884e;
  --color-khaki-green-900: #6f661c;
  --color-khaki-green-1000: #5f5402;

  --color-amber-050: #ffdda9;
  --color-amber-100: #ffc56e;
  --color-amber-300: #fea622;
  --color-amber-500: #db8e22;
  --color-amber-700: #9d6210;
  --color-amber-900: #8a570e;
  --color-amber-100: #ac6d12;

  
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
